// Typografie
h1 {
	color: $primary;
}

h2 {
	color: $primary;
}

h3 {
	color: $primary;
}

h4 {
	color: $primary;
}

h5 {
	color: $primary;
}

h6 {
	color: $primary;
}

.lead {
	font-size: 1.375rem;
	color: $primary;
}