#page-header {
	min-height: 720px;
	background: transparent url("../images/woman-smile-1024x683.jpeg") no-repeat top center;
	background-size: cover;
	background-position: bottom right; 
	//title position
	padding: 150px 30px;

}